*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
    
}
.header_menu{
    display: flex;
    justify-content: space-between;
    gap: 0 100px;
    align-items: center;
    margin-left: 160px;
    margin-right: 150px;
    margin-top: 50px;
}
.header_menu img{
    align-items: center;
    width: 170px;
    height: 50px;
}
.header_menu ul{
    display: flex;
    gap: 0 20px;  
}
.header_menu ul li{
    list-style: none;
    padding: 0 30px;
}
.header_menu ul li a:hover{
    color: #9eae54;
}